
table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
table tr{
    border: 1px solid rgb(90, 87, 87);
}
table tr td{
    border: 1px solid rgb(90, 87, 87);
    border-collapse: collapse;
    padding: 10px;
}
table tr th{
    border: 1px solid rgb(90, 87, 87);
    background-color: green;
    color: white;
    padding: 10px;
}

